

body{
    color: white;
    background-image: url("https://images.alphacoders.com/107/thumbbig-107763.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: inline-block;
    padding-left: 50%;
}

button{
    background-color: red;
}

button:hover{
    background-color: blue;
    cursor: pointer;
}